[Unit]
Description=API endpoint for neurolibre-data
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/neurolibre-data-api/neurolibre-data-api
ExecStart=/usr/bin/python3 neurolibre-data-api.py
Restart=always

[Install]
WantedBy=multi-user.target
